.sideBar {
    height: 91.6vh;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    width: 270px;
    overflow: hidden;
    flex-shrink: 0;
}

.listsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.firstList {
    margin-top: 10px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.listItem {
    font-size: 18px;
    text-decoration: none;
    padding: 6px 60px;
    border-radius: 8px;
    transition: 1s;
}

.listItem:hover {
    background-color: #191d21;
    transition: 0.5s;
}

.listDivider {
    margin: 14px 0;
    width: 200px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}